.container{
    height: 500px;
    background-color: rgb(248, 198, 206);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container1{
    height: 500px;
    background-color:rgb(232, 211, 232);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 20px;
}
.box{
    width: 300px;
    height: 300px;
    border: 5px solid gray;
}