h1{
    font-family: 'khmer os Muol light';
    text-align: center;
}
.box{
    width: 940px;
    height: 600px;
    box-shadow: 0px 0px 50px rgb(200px, 200px, 200px);
    margin-inline: auto;
    border: 5px solid black;
    /* display: flex; */
}
#box1{
    width: 100%;
    height: 10%;
}

#box img{
    width: 100%;
    height: 100%;
}
.box2{
    margin-top: 0px;
    width: 50%;
    height: 400px;
    border: 1px solid black;
   

}
.container{
    width: 100%;
    height: 400px;
    border: 2px solid black;
    display: flex;
    margin-top: 50px;

}
.box
