* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 1200px;
  height: 60px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 16px;
  /* margin-right: 5px; */
}
header nav .menu-logo{
  font-size: 25px;
  display: none;
}
/* header nav i {
  font-size: 25px;
  display: none; */
/* } */
@media (width <= 1178px) {
  header nav ul{
    display: none;
  }
  header nav .menu-logo{
    display: flex;
    gap: 30px;
  }
  header{
    width: 100%;
    padding-inline: 20px;
  }
  
}
.logo img {
  width: 130px;
  /* margin-right: 200px; */
}
.header-right .logo{
  margin-right: 90px;
  /* display: flex; */
  /* gap: 30px; */
  /* align-items: center; */
}
@media (width <= 1178px) {
  .header-right .logo{
    display: none;
  }
  
}
.search {
  display: flex;
  align-items: center;
  /* gap: 20px; */
}
/* 
.logo{
  margin-right: 90px;
} */

.search input {
  padding: 10px;
  width: 200px;
  font-size: 20px;
  /* border-radius: 5px; */
  /* border: 1px solid rgb(167, 167, 167); */
  opacity: 0.5;
}
.search i {
  font-size: 25px;
}
/* .search i:hover{
   background-color: rgb(140, 151, 160);
  
} */
.search .icon{
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.search .icon:hover{
  background-color:rgb(248, 248, 248);
}
.search i:hover{
  background-color:rgb(248, 248, 248);
}
.header-right{
  display: flex;
  align-items: center;
}
/* .account {
  padding: 30px;
  display: flex; */
  /* gap: 20px; */
/* } */
.account button {
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}
.account button:hover {
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color:rgb(248, 248, 248);
  transition: 0.4s;
}
