*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 5px;
    padding: 5px;
}
@media (width >= 1200px) {
    .container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px ;
    padding: 20px;
    gap: 20px;
}
    
}
@media (width >= 968) and (width < 1200px) {
    .container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 20px;
    padding: 20px;
}
    
}
@media (width >568px) and (width < 968px) {
    .container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 20px;
    padding: 20px;
}
    
}
.card{
    /* width: 300px;
    height: 400px; */
    background-color: skyblue;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
}