*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    /* background-color: pink; */
}
header{
    text-align: center;
    font-size: 20px;
    font-family: Moul;
    font-weight: bold;
}