* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color:white; */
}
header {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 10%;
  background-color: rgb(141, 230, 230);
}
nav {
  margin-top: 5px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 4%;
  background-color: rgb(172, 235, 214);
}
main {
  margin-top: 5px;
  width: 100%;
  height: 48%;
  /* background-color: blanchedalmond; */
  display: flex;
}
.div1 {
  border-radius: 10px;
  width: 80%;
  height: 100%;
  /* background-color: blue; */
}
.div2 {
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  width: 30%;
  height: 101%;
  background-color: pink;
}
.div11 {
  padding: 57px;
  text-align: center;
  border-radius: 10px;
  width: 99%;
  height: 50%;
  background-color: rgb(186, 225, 225);
}
.div12 {
  padding: 50px;
  margin-top: 5px;
  text-align: center;
  border-radius: 10px;
  width: 99%;
  height: 49%;
  background-color: rgb(222, 204, 195);
}
footer {
  padding: 80px;
  margin-top: 8px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 33%;
  background-color: rgb(174, 174, 214);
}
