*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    /* background-color: palevioletred; */
}
header{
    width: 100%;
    height: 30%;
    background-color: burlywood;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
div{
    width: 100%;
    height: 50%;
    padding-top: 10px;
    display: flex;
}
nav{
    width: 50%;
    height:100% ;
    background-color: brown;
    margin-left: 10px;
    margin-right: 10px;
}
main{
    width: 50%;
    height: 100%;
    background-color: aqua;
    margin-right: 10px;
    margin-left: 10px;
}
footer{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 100%;
    height: 30%;
    background-color: blue;
}
