*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    /* background-color: pink; */
}
header{
    text-align: center;
    font-size: 20px;
    font-family: Moul;
    font-weight: bold;
}
.main{
    width: 90%;
    height: 92%;
    background-color: skyblue;
     border: 2px solid gray;
     margin-inline: auto;
}
.head1{
    background-color: black;
    width: 100%;
    height: 7%;
    padding: 12px;
}
.head1 a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    
}
.head2{
    width: 100%;
    height: 13%;
    background-color: antiquewhite;
}
.head2 img{
    width: 100%;
    height:100%;
}
.mid{
    width: 100%;
    height: 70%;
    background-color: rgb(42, 183, 239);
    display: flex;
    /* border: 2px solid gray; */

}
.left{
    width: 20%;
    height: 85%;
    /* background-color: aqua; */
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
}
.left img{
    height: 100%;
    width: 100%;
}
.right{
    width: 80%;
    height: 100%;
    /* background-color: aquamarine; */
    margin-right: 2px;
    margin-top: 2px;
}
.top{
    width: 100%;
    height: 65%;
    background-color: white;
}
.top img{
    width: 100%;
    height: 20%;
}
.under{
    width: 70%;
    height: 30%;
    /* background-color: cadetblue; */
    margin-left: 40px;
}
.under img{
    width: 100%;
    height: 100% ;
}
.foot{
    width: 100%;
    height: 10%;
    background-color: black;
    text-align: center;
    padding: 20px;
}
.foot a{
    text-decoration: none;
    color: white;
    margin-right: 15px;

}
.hr1{
    width: 100%;
    display: flex;
    justify-content: center;
}