        *{
            box-sizing: border-box;
        }
        p{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }
        .box{
            width: 600px;
            height: 525px;
            margin-inline:auto;
            border-radius: 50px 0px 50px 0px;
            box-shadow: 0px 0px 20px rgb(167, 165, 165);
            padding: 5px;
            border: 5px solid white;
        }
        #title{
            font-size: 50px;
            font-family: 'khmer os muol light';
        }
        .header{
            width: 100%;
            height: 40%;
            background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px 0px 0px 0px;
        }
        .main-box{
            width: 90%;
            height: 40%;
            /* margin-top: 10px; */
            margin-inline: auto;
            border: 0px solid rgb(125, 125, 137);
            /* border-radius: 10px; */
            /* box-shadow: inset 0px 0px 20px gray; */
            background-color: rgb(227, 226, 226);
            padding: 10px;
    
        }
        .main-box p{
            font-size: 17px;
            font-weight: 500;
            text-align: start;
        }
        .main-box1{
            font-size: 15px;
            width: 45%;
            height:auto;
            background-color: rgb(170, 160, 160);
            padding: 40px;
            font-family: 'khmer Os SiemReap';
        }
        .main{
            display: flex;
        }
        #content{
            width: 100%;
            margin-top:0;
            height: 90px;
            background-color: black;
            font-weight: 500;
            color: white;
            padding: 15px;
            border-radius: 0px 0px 50px 0px;
            font-family: 'khmer os siemreap';

        }